.navbar.scrolled {
    background: var(--game-nav);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background: var(--game-nav);
    padding-top: 60px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 99;
}

.sidebar .logo{
    height: 35px; 
    margin-left: 20px; 
    top: 3dvb; 
    position: fixed;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.hamburger {
    position: fixed;
    top: 30px;
    left: 15px;
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 1000;
}

.nav-container {
    justify-content: right;
}

@media (max-width: 1280px) {
    .hamburger {
        display: block;
    }

    .sidebar .logo {
        margin-left: 15px;
        margin-top: 90px;
    }

    .sidebar ul{
        margin-top: 90px;
    }
}

@media (min-width: 1280px) {
    .sidebar {
        transform: translateX(0);
    }

    .sidebar.active + .content {
        margin-left: 250px;
    }

    .navbar {
        margin-left: 250px;
        width: calc(100% - 250px);
    }
}