:root {
    --bg-color: rgba(18, 19, 29, 0.637); /* blue */
    --bg-color-grad: rgb(40, 38, 44); /* blue */
    --footer-color: rgba(6, 24, 32, 0.847); /* blue */
    --body-color: rgb(31, 31, 48);
    --text-color: rgb(230, 230, 230);
    --text-color-2: rgb(0, 183, 255);
    --click-color: rgb(255, 255, 255);
    --border-color: rgba(221, 221, 221, 0.502);
    --border-color-2: rgba(0, 183, 255, 0.463);
    --transparent: rgba(0, 183, 255, 0);
    --icon-hover: rgba(0, 183, 255);
    --nav-bar: rgba(12, 11, 34, 0.473);
    --footer: rgba(27, 34, 39, 0.482);
    --title: rgb(255, 255, 255);
    --title_2: rgb(75, 255, 198);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-blend-mode: overlay;
    background-color: var(--bg-color-grad);
    color: var(--text-color);
    display: block;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 60px;
}

.background-images {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

.background-images::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: linear-gradient(to bottom, var(--bg-color) 35%, var(--bg-color-grad) 80%); 
    pointer-events: none;
}

/* Title Animation and Title Colors */

.title {
    font-family: 'Courier New', Courier, monospace;
}

.title h4 {
    color: var(--title);
    text-shadow: 
    -3px -0px 0 rgb(27, 85, 89),  
     2px -0px 0 black,  
    -3px  2px 0 black,  
     0px  2px 0 black; 
}

.title h2 {
    font-size: 30px;
    color:var(--title_2);
    text-shadow: 
    -4px -0px 0 rgb(27, 57, 89),  
     2px -0px 0 black,  
    -4px  2px 0 black,  
     0px  2px 0 black; 
}

.title-button {
    cursor: pointer;
}

.title-button h1,
.title-button h2,
.title-button h3,
.title-button h4 {
    transition: color 0.3s ease, transform 0.3s ease, letter-spacing 0.3s ease;
}

.title-button:hover h1,
.title-button:hover h2,
.title-button:hover h4,
.title-button:hover h3 {
    color: var(--click-color);
    text-shadow: none;
    transform: scale(1.1) translateY(-5px);
    letter-spacing: 1px;
}

.section-title {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

.project_info {
    margin-bottom: 100px;
}

/* Background Images */
.bg-image {
    filter: blur(2px);
    object-fit: cover;
}

.fixed-pos {
    position: fixed;
}

.absolute-pos {
    position: absolute;
    
}

.banner-image {
    width: auto;
    max-width: 700px;
    max-height: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    padding: 100px 0;
}

.ea {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 120px;
    height: 40px;
    background-image: url('/Pictures/ea.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

.beta {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 120px;
    height: 40px;
    background-image: url('/Pictures/beta.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* This maintains the aspect ratio (16:9) */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.left-box, .right-box, .bottom-box {
    background:linear-gradient(to bottom, var(--bg-color-grad)35%, var(--bg-color)85%);
    padding: 20px;
    border: 1px solid var(--border-color-2);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.gradiant-box {
    background:linear-gradient(to bottom, var(--bg-color-grad)15%, var(--bg-color)85%);
    border: 1px solid var(--border-color-2);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.bottom-box {
    grid-column: 1 / -1;
}

#directory a:hover {
    background-color: #5d5d9b;
    color: white;
    border-color: #00b7ff;
}

.content-area {
    flex-grow: 1;
    max-width: 1400px;
    margin: 20px auto;
    padding: 0 20px;
}

.content-area p{
    font-size: 16px;
    text-align: center;
    margin-bottom: 25px;
}

.focused-container {
    display: block; 
    width: 75%; 
    margin-left: 12.5%
}

.focused-container li{
    margin-bottom: 7px;
}

.mod-section, .highlight-section, .contact-section {
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
}

hr {
    border: none;
    border-top: 2px solid #3498db4d;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.separate {
    border: none;
    border-top: 2px solid #3498db4d;
    width: 50%;
    margin-left: 25%;
}

h1 {
    padding-bottom: 10px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    color: #00b7ff;
    padding-bottom: 10px;
    text-align: center;
}

h3 {
    color: var(--text-color-2);
    text-align: center;
    font-size: 30px;
}

h4 {
    color: #e6e6e6;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px; 
}

.underline-box {
    border-bottom: 1px solid var(--border-color-2);
    border-radius: 10px;
}

h5 {
    color: #e6e6e6;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;

}

b {
    text-decoration: solid;
}

p {
    text-align: left;
    font-size: 17px;
    padding-left: 25px;
    padding-right: 25px;
}

title {
    text-align: left;
    font-size: 17px;
    padding-left: 25px;
    padding-right: 25px;
}

.highlight {
    text-decoration: solid;
    color: var(--text-color-2);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    text-align: center;
}

.underline {
    display: flexbox;
    position: relative;
    text-decoration: underline;
}

.underline-hover {
    display: flexbox;
    position: relative;
    text-decoration: none;
}

.underline-hover::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: rgb(133, 229, 255);
    transition: width 0.3s ease, left 0.3s ease;
}

.underline-hover:hover::after {
    width: 50%;
    left: 25%;
}

.download-link, .contact-link {
    color: #00b7ff;
    text-decoration: none;
    transition: color 0.3s ease;
}

body {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.content-fade-out {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.content-fade-in {
    opacity: 1;
}

.download-link:hover, .contact-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

footer {
    display: block;
    position: relative;
    margin-top: 20px;
    padding: 50px 0px;
    color: #ccc;
    width: 80%;
    left: 10%;
    opacity: 1;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.mod-images, .highlight-images {
    margin: 20px 0;
}

.mod-images img, .highlight-images img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

@media screen and (max-width: 1280px) {

    body {
        margin: 2px;
    }

    .focused-container {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {

    body {
        margin: 2px;
    }

    h3 {
        font-size: 20px;
    }
    #directory a {
        font-size: 1.2em;
        padding: 8px 15px;
    }
    .banner-image {
        max-width: 90%;
    }
    .container {
        grid-template-columns: repeat(1,1fr);
    }
    .focused-container {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 480px) {

    #directory a {
        font-size: 1em;
        padding: 8px 15px;
    }

    .focused-container {
        width: 99%;
        margin-left: 0;
    }
}