:root {
    --game-nav: #1a1a1aad;
}

.focused-container .title{
    color: white;
    margin-top: 300px;
}

.page-context {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.page-context ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    margin: 0;
}

.page-context li {
    flex: 1 0 200px;
    display: flex;
    justify-content: center;
}

.option-box {
    background-color: transparent;
    border: 1px solid var(--border-color-2);
    border-radius: 25px;
    padding: 25px;
    width: 350px;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 25px;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.option-box b {
    color: rgb(152, 255, 255);
    font-size: 1.2em;
    margin-bottom: 10px;
    border-bottom: 1px solid #ffffff30;
}

.option-box p {
    font-size: 0.95em;
}

.option-box ul {
    list-style-type: disc;
    padding-left: 7px;
    border-bottom: 1px solid #19c6ff28;
    margin-top: 6px;
    padding-bottom: 6px;
}

.option-box:hover {
    background-color: rgba(0, 0, 0, 0.211);  
    cursor: pointer;
    border: 2px solid rgb(111, 255, 123);
}

.content {
    margin-left: 0;
    transition: margin-left 0.3s ease-in-out;
    padding: 20px;
}

.more-content {
    display: none;
}
  
.read-more {
    border: 2px solid var(--border-color-2);
    border-radius: 25px;
    padding: 7px 10px;
    color: white;
    background: transparent;
    width: 35%;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.read-more:hover {
    border-color: white;
    color: rgb(255, 255, 255);
}

.underline-hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: rgb(133, 229, 255);
    transition: width 0.3s ease, left 0.3s ease;
}

.underline-hover:hover::after {
    width: 60%;
    left: 0;
}

@media (min-width: 768px) {
    .sidebar {
        transform: translateX(0);
    }
    .content {
        margin-left: 250px;
    }
    .sidebar.active + .content {
        margin-left: 250px;
    }
}

@media (max-width: 767px) {
    .hamburger {
        display: block;
    }
    .sidebar.active + .content {
        margin-left: 0;
    }
}