/* Image Comparison Styles */
.ImageComparer {
    overflow: hidden;
    z-index: 11;
    background: #282d32;
    text-align: center;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.ImageComparer .box {
    position: relative;
    display: inline-block;
    font-size: 20px;
    line-height: 100%;
    overflow: hidden;
    background-color: #202428;
}

.ImageComparer .box img {
    display: block;
    width: auto;
    max-height: calc(100vh - 100px);
    object-fit: cover;
}

.ImageComparer .box img.after {
    width: 100%;
}

.ImageComparer .box .slider {
    position: absolute;
    z-index: 9;
    top: 0;
    right: calc(50% - 1px);
    bottom: 0;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border-top: 0;
    border-bottom: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.ImageComparer .box .slider button {
    position: absolute;
    top: calc(50% - 40px);
    left: -4px;
    width: 10px;
    background-color: #ddd;
    border: 4px solid #fff;
    height: 80px;
    text-align: center;
    padding: 0;
    outline: 0;
    cursor: ew-resize;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.ImageComparer .box .slider button:hover {
    background-color: #777;
}

.ImageComparer .box .before {
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 0;
    overflow: hidden;
}

.ImageComparer .box .before img {
    height: 100%;
    max-width: none;
    width: auto;
    object-position: left;
}

/* Label styles */
.image-label {
    position: absolute;
    top: 10px;
    padding: 5px 10px;
    background-color: rgba(45, 45, 77, 0.8);
    color: #00b7ff;
    border-radius: 4px;
    font-weight: bold;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.label-left {
    left: 10px;
}

.label-right {
    right: 10px;
}